

.card{
    flex: 1;
    width: 160px;
    min-width: 100px;
    max-width: 180px;
    /* height: 320px; */
    border-radius: 9px;
    /* background-color: #e7e7e7; */
    color: #fff;
    margin-bottom: 14px;
    margin-top: 14px;
    transition: transform 0.3s ease;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.card a{
    text-decoration: none;
    color: inherit;
}

.card:hover{
    transform: scale(1.05);
    /* box-shadow: #333 1px 1px 15px; */
    cursor: pointer;
}

.card .card-image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

.card .title{
    text-align: center;
    font-size: 20px;
    margin: 10px;
    color: black;
}