

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.8rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}




@media (max-width: 768px) {
    .card-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 1rem;
    }
}