

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}




/* @media (max-width: 768px) {
    .card-grid{
        padding: 1rem auto;
    }
} */