


.filter-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    max-width: 1200px;
    gap: 12px;
}


/* @media(max-width: 800px){
    .filter-grid{
        grid-template-columns: ;
    }
} */

