

.card{
    border-radius: 9px;
    margin-bottom: 14px;
    transition: transform 0.3s ease;
    transition: all 0.3s ease-in-out;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card a{
    text-decoration: none;
    color: inherit;
}

.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card .card-image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

.card .title{
    text-align: center;
    font-size: 17px;
    margin: 10px;
    color: black;
}

.card p{
    color: #808080;
}