

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
}

.navbar .logo:hover{
    cursor: pointer;
}

.icons{
    display: flex;
    gap: 15px;
}

.icons .menu{
    display: none;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}


@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .icons .menu {
        display: block;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }
}

