

.detail-container{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    /* justify-content: center; */
    gap: 18px;
    background-color: red;
}

/* .detail-container .image-side{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 100px;
    grid-template-areas: 
    "main"
    "second"
    ;
}

.detail-container .image-side .primary-image{
    grid-area: main;
    width: 300px;
    height: 300px;
}

.detail-container .image-side .secondary-image{
    grid-area: second;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
} */


