

.detail-container{
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 25px;
    gap: 18px;
    background-color: #dee1e6;
    margin: 70px 0;
}

/* image grid style */

.detail-container .image-side{
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: 450px auto;
    grid-template-areas: 
    "main"
    "secondary"
    ;
    gap: 12px;
}

.image-side .primary-image{
    background-color: #fff;
    grid-area: main;
}

.image-side .primary-image .main{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-side .secondary-image{
    grid-area: secondary;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    /* padding: 5px; */
    min-height: 0;
}

.image-side .secondary-image img{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.image-side .secondary-image img:hover{
    border: 1px solid #575757;
    cursor: pointer;
}

/* text side  */

.detail-container .text-side{
    padding: 12px;
}

.detail-container .text-side .title{
    font-size: 47px;
    margin-bottom: 14px;
}

.text-side .price{
    font-size: 27px;
    margin-bottom: 15px;
}

.text-side .brand{
    font-size: 25px;
    margin-bottom: 15px;
}

.text-side select{
    width: 250px;
    text-align: center;
    border-radius: 17px;
    height: 45px;
    padding: 14px 12px;
    margin-bottom: 14px;
}

.text-side .category{
    font-size: 21px;
    margin-bottom: 14px;
}

.text-side .rating{
    margin-bottom: 45px;
}

.text-side .btn{
    margin-top: 45px;
    margin-bottom: 55px;
    text-decoration: none;
    background: #495058;
    color: #fff;
    border-radius: 27px;
    padding: 19px 71px ;
    margin: 15px;
    text-align: center;
}

.text-side .description{
    margin-top: 47px;
}

@media(max-width: 800px){

    .detail-container{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .detail-container .text-side .title{
    font-size: 34px;
    margin-bottom: 14px;
}


}


