
.footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 27px;
}


.footer .footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}


.footer .footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.footer .footer-links li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.footer .social-icons {
    display: flex;
    gap: 15px;
}

.footer .social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer .social-icons a:hover {
    color: #ddd;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .footer .footer-links {
        justify-content: center;
    }
}

