

.banner {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
}

.banner h2{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 12rem;
}

.banner p{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 2rem;
}





